#container{
    padding: 20px; background-color:white; border-left: black;
}

img{
    float: left;
}

h3{
    padding: 1px;
}

.element{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
span{
    font-size: 15px;
}