<div id="container">
    <h1>Welcome to Madrid Mobility</h1>
    <h3>This app has been developed in order to provide data from the <a href="https://mobilitylabs.emtmadrid.es/">EMT
            API-REST service</a></h3>
    <h3>and show it a map, using some GIS functions.</h3>

    <h3>Before continue, I have to tell you that the town where you are located is registered just for statistical
        reasons,
        and please, if you agree, allow geolocation in your browser when required.</h3>
    <div id="button">
        <button mat-raised-button color="primary" (click)="navigateToMadridMobility()">Carry on</button>
    </div>
</div>