.small-button{
    width: 150px!important;
      min-width: 100px!important;
      font-size: 70%;
}

.regular-button{
    width: 200px!important;
      min-width: 100px!important;
      font-size: 100%;
}

.info-card{
  margin-left: 25%;
  margin-top: 39%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 50%;
 }