.small-button{
    width: 150px!important;
      min-width: 100px!important;
      font-size: 70%;
}

.regular-button{
    width: 200px!important;
      min-width: 100px!important;
      font-size: 100%;
}

.info-card{
  margin-left: 25%;
  margin-top: 32%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 50%;
 }

 @media only screen and (max-width:1800px) and (max-heigth:1800px) {
  /* For tablets: */
  .info-card {
    margin-left: 25%;
  margin-top: 35%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 50%;
  }}

 @media only screen and (max-width:1600px) and (max-heigth:1600px) {
  /* For tablets: */
  .info-card {
    margin-left: 25%;
  margin-top: 40%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 50%;
  }}

 @media only screen and (max-width:1400px) and (max-heigth:1400px)  {
  /* For tablets: */
  .info-card {
    margin-left: 25%;
  margin-top: 45%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 50%;
  }}

 @media only screen and (max-width:1200px) and (max-heigth:1200px)  {
  /* For tablets: */
  .info-card {
    margin-left: 25%;
  margin-top: 55%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 50%;
  }}

 @media only screen and (max-width:1000px)and (max-heigth:1000px)  {
  /* For tablets: */
  .info-card {
    margin-left: 25%;
  margin-top: 65%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 50%;
  }}

  @media only screen and (max-width:800px)and (max-heigth:800px)  {
    /* For tablets: */
    .info-card {
      margin-left: 25%;
    margin-top: 80%;
    background: white;
    border-radius: 5%;
    z-index: 5;
    position: absolute;
    padding: 2%;
    width: 50%;
    }}

    @media only screen and (max-width:600px)and (max-heigth:600px)  {
      /* For tablets: */
      .info-card {
        margin-left: 25%;
      margin-top: 100%;
      background: white;
      border-radius: 5%;
      z-index: 5;
      position: absolute;
      padding: 2%;
      width: 50%;
      }}

    @media only screen and (max-width:500px)and (max-heigth:500px)  {
      /* For tablets: */
      .info-card {
        margin-left: 25%;
      margin-top: 100%;
      background: white;
      border-radius: 5%;
      z-index: 5;
      position: absolute;
      padding: 2%;
      width: 50%;
      }
  
}