<div *ngIf='languageEN'>
  <h2 *ngIf='!apiError'>It seems that you are not located in Madrid</h2>
  <h2 *ngIf='apiError'>The geolocator has failed,</h2>
  <h3>To have a try to this app, choose any address to be used as your current position</h3>
  <mat-form-field>
      <mat-label>Addresses</mat-label>
      <mat-select>
        <mat-option value="Calle Lope de Vega 8" (click)="setFakeUserPosition('-3.69837 40.41379')">
          Calle Lope de Vega 9
        </mat-option>
        <mat-option value="Calle Palma 40"(click)="setFakeUserPosition('-3.70524 40.42652')" [mat-dialog-close]>
          Calle Palma 40
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div *ngIf='!languageEN'>
  <h2 *ngIf='!apiError'>Parece que no se encuentra en Madrid</h2>
  <h2 *ngIf='apiError'>El geolocalizardor ha fallado,</h2>
  <h3>Para probar la app, seleccione una dirección del desplegable</h3>
  <mat-form-field>
      <mat-label>Direcciones</mat-label>
      <mat-select>
        <mat-option value="Calle Lope de Vega 8" (click)="setFakeUserPosition('-3.69837 40.41379')">
          Calle Lope de Vega 9
        </mat-option>
        <mat-option value="Calle Palma 40"(click)="setFakeUserPosition('-3.70524 40.42652')" [mat-dialog-close]>
          Calle Palma 40
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>