.legend-container{
    margin-left: 78%;
  margin-top: 5%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 20%;
  height: 40%;
}

.buses-container{
  height: 40%;
}

.row{
    padding: 2%;
}

::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
  min-width: 0!important;
  padding: 5px!important;
  margin: 5px!important;
 }

 @media only screen and (max-width:500px)  {
  /* For tablets: */
  .legend-container {
    margin-left: 57%;
  margin-top: 15%;
  background: white;
  border-radius: 5%;
  z-index: 5;
  position: absolute;
  padding: 2%;
  width: 40%;
  height: 40%;
  }}