.legend-container{
    background-color:white; 
    border-left: black;
}

.row{
    padding: 2%;
}

/* img{
    float: left;
}

h3{
    padding: 1px;
}

.element{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
span{
    font-size: 15px;
} */