<div  class="container legend-container">
    <div class="row">
       <strong> <a class="element">Bike station info</a></strong>
    </div>
    <div class="row">
       <div  id="elements"><img src="assets/img/vehicle_color_1.png" width="20" height="20" class="element">
          <span>Available {{bikesOrSlots}}</span>
       </div>
    </div>
    <div class="row">
       <div  id="elements"><img src="assets/img/vehicle_color_2.png" width="20" height="20" class="element">
          <span> No Available {{bikesOrSlots}}</span>
       </div>
    </div>
    <div class="row">
      <div id="toggle" class="element" >
         <div >
           Watch available {{bikesOrSlots}} <mat-slide-toggle class="example-margin" [checked]="checked" [disabled]="disabled"
             (change)="setBikeOrDot($event)">
           </mat-slide-toggle> 
         </div>
       </div>
      </div>
    <div class="row">
       <strong> <a>Districts info</a></strong><br>
    </div>
    <div class="row">
       <div>
          <img src="assets/leaflet/grey_dot.png" width="20" height="20" class="element">
          <span>0 Bikes </span>
       </div>
    </div>
    <div class="row">
       <img src="assets/leaflet/yellow_dot.png" width="20" height="20" class="element">
       <span>Less than 50 bikes</span>
    </div>
    <div class="row">
       <img src="assets/leaflet/blue_dot.png" width="20" height="20" class="element">
       <span>More than 50 bikes</span>
    </div>
    <!-- <div class="row">
    <div id="toggle" class="element" >
       <div >
         See bikes accidents heat map <mat-slide-toggle class="example-margin" [checked]="checked" [disabled]="disabled"
           (change)="toggleSlide($event)">
         </mat-slide-toggle> 
       </div>
     </div>
    </div> -->

    
 </div>