
<mat-accordion>
  <mat-expansion-panel #map [expanded]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Map
      </mat-panel-title>
    </mat-expansion-panel-header>
<h3>Get stations near me</h3>
<div [formGroup]="positionCompositionForm"style="height: 50px;">
  <mat-form-field appearance="outline">
    <mat-label >Distance</mat-label>
    <input matInput formControlName="distance">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="findNearStations()">Get stations within distance</button>
  <mat-slide-toggle>Slide me!</mat-slide-toggle>
</div>
<div class="map">
  
  <div id="map"></div>
</div>
</mat-expansion-panel>
<mat-expansion-panel #detail [expanded]=false>
<mat-expansion-panel-header>
<mat-panel-title>
Detail
</mat-panel-title>
<mat-panel-description>
</mat-panel-description>
</mat-expansion-panel-header>
<p-table [value]="nearestBikeStations">
  <ng-template pTemplate="header">
      <tr>
          <th>Address</th>
          <th>Available Bikes</th>
          <th>Free Docks</th>
          <th>Reservations</th> 
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-bikeStation>
      <tr>
          <td>{{bikeStation.address}}</td>
          <td>{{bikeStation.availableBikes}}</td>
          <td>{{bikeStation.freeDocks}}</td>
          <td>{{bikeStation.reservations}}</td> 
      </tr>
  </ng-template>
</p-table>
<button mat-raised-button color="primary" (click)="getBackToMap()">Get back to map</button>
</mat-expansion-panel>
</mat-accordion>