div{
    height: 500px;
    width: 100%;
    z-index: 1;
}

#legend{
  float:right;
  width: 200px;
  padding: 50px;
  
  z-index: 5;
  position:absolute;
}

md-autocomplete.autocompletable{ width: 500px; }
  .autocompletable-contents{ }